In [ ]:
"""
1. What are data structures, and why are they important?
As the name suggest Data structures allows to organize and store data for efficient access and modification.
They are essential because they help in optimizing code performance, managing large datasets, and solving problems effectively

2. Explain the difference between mutable and immutable data types with examples
mutabale data types states that where the data sets can get change after creating it
a=[1,2] a.append(3)
a=[1,2,3] it will allow us to make change
whweras in immutable data types the data can't be chamged once created, it is genreally created to store unchange or private data
a="hello"
a(0)=H error

3. What are the main differences between lists and tuples in Python?
Main difference between list and tuple is list is mutable whereas tuple are immutable

4. Describe how dictionaries store data
Dictinories store data in key value pairs
a={"name": "Akash Rawat","MOno": 9630968387}

5. Why might you use a set instead of a list in Python
set only allows to store unique value and it automaticaly removes the duplicate values whereas list can't do that

6. What is a string in Python, and how is it different from a list
string is sequence of characters which is immutable it is different from list because it is immutable and can't hold data types

7. How do tuples ensure data integrity in Python?
tuples are immutable which means once created no one can change it which helps in data integrity which prevents data modification

8.What is a hash table, and how does it relate to dictionaries in Python?
hash table is data struture which store data is key vaue pairs hash function converts the key
in index that's why it relates to dictonaries because it laos stores data in key value pairs

9. Can lists contain different data types in Python?
Python list can hold multiple data types as list is a ordered collection

10. Explain why strings are immutable in Python?
strings are sequence of characters which is immutable it is different from list because it is immutable and can't hold data types

11. What advantages do dictionaries offer over lists for certain tasks?
dictionaries have key value pairs and we can access the data only by key which makes it faster than list

12.Describe a scenario where using a tuple would be preferable over a list?
tuple are immutable so it can be used for storing fix data or constant data tuple can alos be used to create key in dictionaries

13. How do sets handle duplicate values in Python?
sets are unordered collection and only have have unique values they automatically remove duplictae values from the sets

14. How does the “in” keyword work differently for lists and dictionaries?
With list "in" keyword checjs the value whereas in dictonaries it only checks key instead of values

15. Can you modify the elements of a tuple? Explain why or why not?
No we can't modify the elements of a tuple because it is immutable

16.What is a nested dictionary, and give an example of its use case?
in nested dictionary it conatins a dictionary inside a dictionary
user={"Akash":{"age":23,"Address": ee-97 DDnagar}}

17. Describe the time complexity of accessing elements in a dictionary
i dont know the concept of time complexity

18. In what situations are lists preferred over dictionaries
when we don't need key value pairs or when we have duplicate data to store in list

19. Why are dictionaries considered unordered, and how does that affect data retrieval


20.Explain the difference between a list and a dictionary in terms of data retrieval
in list data is retrieved by index value whereas in dictnories data is retrieved by key value
ex. my_list = [1, 2, 3, 4, 5]
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_list[2]  # Output: 3
my_dict['c']  # Output: 3
"""

In [1]:
# 1.Write a code to create a string with your name and print it
a="Akash"
print(a)

Akash

In [2]:
# 2.Write a code to find the length of the string "Hello World"
a="Hello World"
print(len(a))

11

In [10]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
a= "Python Programming"
a[:3]

'Pyt'

In [13]:
# 4. Write a code to convert the string "hello" to uppercase
a="akash"
print(a.upper())

AKASH

In [14]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
a="I like apple"
print(a.replace("apple","orange"))

I like orange

In [15]:
# 6.Write a code to create a list with numbers 1 to 5 and print itP
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [19]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [21]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [22]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a=["a","b","c","d"]
print(a[1])

b

In [27]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [28]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
print(a)

(100, 200, 300)

In [30]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a=('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [33]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10,20,5,15)
print(min(a))

5

In [34]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=('dog', 'cat', 'rabbit')
print(a.index("cat"))

1

In [35]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","banana","kiwi")
print("kiwi" in fruits)

True

In [36]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set={'a','b','c'}
print(set)

{'c', 'b', 'a'}

In [37]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [66]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a={1,2,3,4}
a.remove(4)
print(set)

{1, 2, 3}

In [39]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [41]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

{2, 3}

In [44]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a={"name":"Akash Rawat","Age":23,"City":"Gwalior"}
type(a)
print(a)
print(a["name"])

{'name': 'Akash Rawat', 'Age': 23, 'City': 'Gwalior'}
Akash Rawat

In [45]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a={"name":"John","Age":25}
a["counry"]="usa"
print(a)

{'name': 'John', 'Age': 25, 'counry': 'usa'}

In [46]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
a={'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [49]:
# 24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
a={'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [50]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
a={'name': 'Alice', 'city': 'Paris'}
print("city"in a)

True

In [51]:
# 26.Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [53]:
# 27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
a=random.sample(range(1,101),5)
a.sort()
print(a)

[16, 24, 27, 46, 79]

In [54]:
# 28.Write a code to create a list with strings and print the element at the third index.
a=["akash","banana","milk","ajay","bat","rat"]
print(a[3])

ajay

In [71]:

# 29.Write a code to combine two dictionaries into one and print the result.
a={"name":"akash rawat"}
b={"age":23}
a.update(b)
print(a)

{'name': 'akash rawat', 'age': 23}

In [ ]:
# 30.Write a code to convert a list of strings into a set
fruits = ["apple", "banana", "cherry", "apple", "banana"]
unique_fruits = set(fruits)
print(unique_fruits)